<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/resume.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <div class="cv-box">
        <div class="header">
            <h1>Angad Prajapati</h1>
            <div class="address">
                <div class="link">
                    <a href="https://www.linkedin.com/in/angad-prajapati-247800216/"><i class='bx bxl-linkedin'
                            style="color:blue"></i>https://www.linkedin.com/in/angad-prajapati-247800216/</a>
                    <a href="https://github.com/angadggdd"><i class='bx bxl-github'
                            style="color:#000"></i>https://github.com/angadggdd</a>
                    <a href="https://www.youtube.com/feed/you"><i class='bx bxl-youtube'
                            style="color:red"></i>youTub</a>
                </div>
                <h3><i class='bx bxs-envelope' style="color:brown"></i>angadgpb09876@gmail.com</h3>
                <h3><i class='bx bxs-phone-call' style="color:blue"></i>+918953486788</h3>
                <h3><i class='bx bx-current-location' style="color:green"></i>U.P.,India</h3>
            </div>
        </div>
        <div class="profile-heading">
            <h1>MERN Stack Web Developer</h1>
            <p>Exceptionally creative and dependable MERN Stack WEB Developer.Experienced in building responsive
                user interfaces and web applications.Proficient in programming languages including
                Javascript and MySQL.
            </p>
        </div>
        <div class="skills">
            <h1>Skills:</h1>
            <h4> Front-End Development: <span>HTML5,CSS3,ReactJS,AJAX</span> </h4>
            <h4> Databases: <span>MongoDB, MySQL, PostgreSQL</span> </h4>
            <h4> Languages: <span>Javascript and Python</span> </h4>
            <h4> Frameworks: <span>ReactJS, Express, Bootstrap</span> </h4>
            <h4> Miscellaneous: <span>NodeJS, OOP, Git/GitHub, GitBash, AWS</span> </h4>
        </div>
        <div class="project-box">
            <h1>Projects:</h1>
            <div class="project">
                <div class="p1">
                    <h3>1.MERN-NewsApplication</h3>
                    <a href="https://github.com/angadggdd/news-app">https://github.com/angadggdd/news-app</a>
                    <p>Technology uses: ReactJS, XML, AJAX, ReduxTookit, React-Router-dom, Express, MongoDB, tailwindCSS, Bootstrap etc.
                    </p>
                </div>
                <!-- <div class="p2">
                    <a href="/">abc</a>
                    <p>Lorem ipsum dolor sit amet.</p>

                </div> -->
                <!-- <div class="p3">
                    <a href="/">abc</a>
                    <p>Lorem ipsum dolor sit amet.</p>

                </div> -->
            </div>
        </div>
        <div class="experiance-box">
            <h1>Experiance:</h1>
            <div class="experiance">
                <h3>FrontEnd Dev Intern, August 2023 - Present (Remote)</h3>
                <a href="https://eminds.ai/">Enterprise Minds Inc</a>
                <p><span>Expertise: </span>HTML5, CSS3,Javascript(ES6,AsyncJS),<br>
                     ReactJS,React-Router-dom,ReduxTookit,Bootstrap, Communication Skills,<br>
                      Git/Github, Team Collaboration, Responsive Design etc.</p>
            </div>
            <div class="experiance">
                <h3>Guest Teacher, April 2018-June 2020</h3>
                <a href="#">Indra Mohan Chauhan Memorial Polytechnic, Mau India</a>
                <p> <span>Expertise: </span>Engineering Drawing, Electrical Design Drawing and Estimating, <br>
                    Lab Instructor,Basic Computer Application(MS-Office) etc.</p>
            </div>
            <div class="experiance">
             <h3>Tech-Apprentice(Electrical), March 2017 - March 2018</h3>
             <a href="#">Utter Pradesh Power Corporation Ltd</a>
             <p><span>Expertise: </span>Transmission, Distribution, Substation, Feeder, Circuit Breaker, Realay, Control Pannel etc.</p>
            </div>
            <div class="experiance">
                <h3>Instructor, July 2016 - February 2017</h3>
                <a href="#">Shree Satiram Private ITI , Mohammadbad Gohna Mau(India)</a>
                <p><span>Expertise: </span>Lab Instructor(Electrician), Theory Instructor(Electrician), Engineering Drawing etc.</p>
            </div>

        </div>
        <div class="education-box">
            <h1>Educations: </h1>
            <div class="educations">
                <h4><span>1. B-Tech: </span>  Dr. A P J Abdul Kalam Technical University, Lucknow Utter Pradesh India(2023)</h4>
                <h4><span>2. Polytechnic:</span>  Government Polytechnic Basti, Basti Utter Pradesh(2016)</h4>
                <h4><span>3. High School: </span>  Town Inter College,Muhammadabad Gohna Mau Utter Pradesh Lucknow(2012)</h4>
            </div>
        </div>
        <footer class="footer">
            <h5>Angad Prajapati</h5>
            <h5>Date:</h5>
        </footer>
    </div>
</body>

</html>